body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
}

.square {
    box-sizing: border-box;
    border: 1px solid #ddd;
}